body {
  &.landing-page {
    // set the background color for the landing page darker then the default from bootstrap
    background: var(--color-global-bg);
  }
}

// LAYOUT
.docs-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

footer {
  margin-top: auto;
}

// BUTTONS
.td-navbar {
  .dropdown-toggle {
    // override default btn color to match the navbar style since the .btn sets the color definition is different
    color: var(--bs-nav-link-color);
  }
}

.btn {
  background-color: var(--color-button-default-bg);
  background-image: none;
  border: 1px solid var(--color-button-default-border);
  color: var(--color-button-default-text);
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  font-weight: 700;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border-radius: 0.375rem;
  justify-content: center;
  align-items: center;
  display: inline-flex;

  &:active {
    background-color: var(--color-button-default-active-bg);
    border-color: var(--color-button-default-active-border);
    color: var(--color-button-default-active-text);
  }

  &:hover {
    background-color: var(--color-button-default-hover-bg);
    border-color: var(--color-button-default-hover-border);
    color: var(--color-button-default-hover-text);
  }

  i {
    // icon color
    color: var(--color-accent);
    fill: currentColor;
    margin-right: 0.625rem;
  }

  &.btn-primary {
    background-color: var(--color-button-primary-bg);
    border: 1px solid var(--color-button-primary-border);
    color: var(--color-button-primary-text);

    &:active {
      background-image: none;
      background-color: var(--color-button-primary-active-bg);
      border-color: var(--color-button-primary-active-border);
      color: var(--color-button-primary-active-text);
    }

    &:hover {
      background-image: none;
      background-color: var(--color-button-primary-hover-bg);
      border-color: var(--color-button-primary-hover-border);
      color: var(--color-button-primary-hover-text);
    }

    i {
      color: var(--color-button-primary-text);
    }
  }

  &.btn-subdued {
    background-color: var(--color-button-subdued-bg);
    border: 1px solid var(--color-button-subdued-border);
    color: var(--color-button-subdued-text);

    &:active {
      background-color: var(--color-button-subdued-active-bg);
      border-color: var(--color-button-subdued-active-border);
      color: var(--color-button-subdued-active-text);
    }

    &:hover {
      background-color: var(--color-button-subdued-hover-bg);
      border-color: var(--color-button-subdued-hover-border);
      color: var(--color-button-subdued-hover-text);
    }
  }
}

// NAVBAR
.landing-page {
  .td-navbar {
    // remove background when landing page so the jumbotron bg is visible
    background: transparent !important;
    &.navbar-bg-onscroll {
      background: var(--color-background-lvl-0) !important;
    }
  }
}

.td-navbar {
  // set background to override the body background when not landing page
  background: var(--color-background-lvl-0) !important;

  .navbar-brand {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;

    svg {
      height: 32px;
      margin-left: 0;
    }
  }

  .nav-link {
    text-transform: none;
  }
}

#main_navbar {
  padding: 0.325rem 2rem;
  .navbar-search {
    margin-left: auto;
  }
  .navbar-nav {
    padding-top: 0;
  }
}

// Search
.td-search {
  width: 100%;
}

.td-search__input {
  background: var(--color-background-lvl-3);
  border-radius: 100rem;
  max-width: 100%;
  margin-right: 0;

  &.form-control {
    height: auto;

    &:focus {
      background: var(--color-background-lvl-3);
    }
    &:not(:focus) {
      background: var(--color-background-lvl-3);
    }
  }

  @if $enable-rounded {
    border-radius: 100rem;
  }
}

// breadcrumb.scss
.td-breadcrumbs.landing-page-breadcrumbs {
  .breadcrumb {
    margin: 0;
    padding: 0;
  }

  .breadcrumb-item {
    a {
      color: var(--color-juno-text-light);
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }

    &.active {
      a {
        color: var(--color-juno-text-high);
        font-weight: 700;
      }
    }
  }
}

// keep it here although it is just for the landing page because of the variable $font-size-sm
.modified-date {
  color: var(--color-juno-text-high);
  font-size: $font-size-sm;

  i {
    margin-right: 0.3rem;
  }
}

// _sidebar-tree.scss
.td-sidebar {
  @include media-breakpoint-up(md) {
    padding-top: 1rem;
    border-right: none;
  }

  .td-sidebar-link {
    &.tree-root {
      border-bottom: none;
    }
  }
}

// _sidebar-toc.scss
.td-sidebar-toc {
  border-left: none;
  background: var(--color-background-lvl-0);

  @supports (position: sticky) {
    top: 0;
    height: calc(100vh - 0rem);
  }
}

.td-toc {
  background: var(--color-background-lvl-1);
  padding: 0.75rem;
  margin-top: 2rem;

  .toc-header {
    padding-bottom: 1rem;
  }

  a {
    // display: block;
    // font-weight: $font-weight-light;
    // padding-bottom: .25rem;
  }

  li {
    // list-style: none;
    // display: block;
  }

  li li {
    // margin-left: 0.5rem;
  }

  #TableOfContents {
    > ul > li > a {
      font-weight: $font-weight-normal;
    }

    // Hugo's ToC is a mouthful, this can be used to style the top level h2 entries.
    > ul > li > ul > li > a {
    }

    a {
      color: var(--color-juno-text-default);

      &:hover {
        color: var(--color-accent);
        text-decoration: none;
      }
    }
  }

  ul {
    // padding-left: 0;
  }
}

// _main-container.scss
.td-main {
  margin-top: 3.125rem;
  padding-top: 3rem;

  main {
    background: var(--color-background-lvl-0);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);

    @include media-breakpoint-up(md) {
      padding-top: 1rem;
    }
  }
}

// main.scss
footer {
  // overwrites
  min-height: 100px;

  @include media-breakpoint-down(md) {
    min-height: 100px;
  }
  // -----------

  display: flex;
  align-items: center;
  position: relative;
  background: var(--footer-image-bg);

  // COVERPAGE SPECIAL STUFF
  &.footer-landingpage {
    // overwrites
    min-height: 64px;

    @include media-breakpoint-down(md) {
      min-height: 64px;
    }
    // ----------

    background-image: none;
  }
}

// CALLOUTS
.bs-callout {
  padding: 20px !important;
  margin: 20px 0;
  border-left-width: 5px !important;
  border-radius: 3px;
  color: var(--color-text-high) !important;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout + .bs-callout {
  margin-top: -5px;
}

.bs-callout-info {
  border-left-color: var(--color-info) !important;
  background: var(--gradient-message-default-bg);
}
.bs-callout-info h4 {
  color: var(--color-info);
}
.bs-callout-danger {
  border-left-color: var(--color-danger) !important;
  background: var(--gradient-message-danger-bg);
}
.bs-callout-danger h4 {
  color: var(--color-danger);
}
.bs-callout-warning {
  border-left-color: var(--color-warning) !important;
  background: var(--gradient-message-warning-bg);
}
.bs-callout-warning h4 {
  color: var(--color-warning);
}
.bs-callout-success {
  border-left-color: var(--color-success) !important;
  background: var(--gradient-message-success-bg);
}
.bs-callout-success h4 {
  color: var(--color-success);
}
.bs-callout-default {
  border-left-color: var(--color-juno-grey-light-9) !important;
  background: var(--gradient-callout-default-bg);
}
.bs-callout-default h4 {
  color: var(--color-juno-grey-light-9);
}
.bs-callout-white {
  border-left-color: $primary-theme !important;
  border: 1px solid $primary-theme;
}
.bs-callout-white h4 {
  color: $primary-theme;
}

@import "custom_styles_project";
