@import "juno_color_definitions";

// Define a function to retrieve and convert RGB values
@function get-rgb($color-name, $map) {
  $color: map-get($map, $color-name);
  @return rgb(nth($color, 1), nth($color, 2), nth($color, 3));
}

$google_font_name: "IBM Plex Sans";
$google_font_family: "IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700";

// no rounded buttons
$enable-rounded: false;

// SCSS variable overrides
// https://github.com/twbs/bootstrap/blob/v5.3.3/scss/_variables.scss
$primary: get-rgb("juno-grey-blue-11", $color-map);
$dark: get-rgb("juno-grey-blue-10", $color-map);

$td-sidebar-bg-color: get-rgb("juno-grey-light-1", $color-map);
$link-color: get-rgb("juno-blue-5", $color-map);

$primary-light: lighten($primary, 75%);
$primary-dark: get-rgb("juno-grey-blue-11", $color-map);
$secondary: get-rgb("juno-grey-blue-7", $color-map);
$success: get-rgb("success", $light-theme-color-map);
$info: get-rgb("info", $light-theme-color-map);
$warning: get-rgb("warning", $light-theme-color-map);
$danger: get-rgb("danger", $light-theme-color-map);
$light: get-rgb("white", $color-map);

// used for the .bs-callout-white and it is them dependent
$primary-theme: var(--color-juno-text-highest);
