.jumbotron-lp {
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
  background-image: url("/images/Hero_background.jpg");
  background-size: cover;
  .container {
    color: white;
  }
}

.featurette-divider {
  margin: 5rem 0;
}
