.jumbotron-lp {
  padding-top: 8.5rem !important;
  padding-bottom: 11.5rem !important;
  background: var(--color-global-bg) url("/images/Hero_background.jpg") top center no-repeat;
  background-size: cover;
  margin-top: 5.75rem;

  .container {
    color: white;
  }
}


.featurette-divider {
  margin: 5rem 0;
}
