<!-- prettier-ignore -->
{{ $NumberOfEntries := (default 5 ($.Param "modifiedEntries")) }}

<!-- prettier-ignore -->
<div class="landing-page-section">
  <h4 class="landing-page-section-header"><i class="fas fa-history"></i>Latest changes</h4>
  {{ $pages := .Site.RegularPages.ByLastmod }}
  {{ $recent := ($pages | last $NumberOfEntries).Reverse }} {{ range $recent }}
  <div class="landing-page-section-entry">
    {{ partial "landing-page-breadcrumb.html" . }}
    <div class="modified-date"><i class="fas fa-fw fa-clock"></i>Last updated on {{ .Lastmod.Format "2 January" }}</div>
  </div>
  {{ end }}
</div>
