<div class="js-td-cover">
  {{ partial "landing-page-section-hero" . }}
</div>

<div class="container mb-5">
  {{ partial "landing-page-section-recent-blogposts" . }}
</div>

<div class="container mb-5">
  {{ partial "landing-page-section-overview" . }}
</div>

<div class="container mb-5">
  {{ partial "landing-page-section-index" . }}
</div>

<div class="container mb-5">
  {{ partial "landing-page-section-recent-doc-changes" . }}
</div>

<div class="container pt-5">{{ partial "landing-page-section-footer" . }}</div>