<section class="jumbotron jumbotron-lp bg-dark text-center">
  <div class="container">
    {{ if .Params.heroTitle}}
    <h1>{{ .Params.heroTitle}}</h1>
    {{ else }}
    <h1>SAP Converged Cloud Documentation/h1>
    {{ end }} {{ if .Params.heroSubtitle}}
    <p class="lead">{{ .Params.heroSubtitle}}</p>
    {{ else }}
    <p class="lead">
      Find user guides, tutorials, API references, blogs and more to learn how to build on SAP Converged Cloud
    </p>
    {{ end }}
    <a href="/docs/customer" class="btn btn-primary">
      <i class="fas fa-book"></i>
      Documentation
    </a>
  </div>
</section>

  <div class="container mb-5">
    {{ partial "landing-page-section-recent-blogposts" . }}
  </div>
  
  <div class="container mb-5">
    {{ partial "landing-page-section-overview" . }}    
  </div>

  <div class="container pt-5">
    {{ partial "landing-page-section-footer-user-docu" . }}  
  </div>
</div>