<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
    {{ partial "landing-page-head.html" . }}
  </head>
  <body>
    <header>{{ partial "navbar.html" . }}</header>
    <main role="main">
      <section class="jumbotron jumbotron-lp bg-dark text-center">
        <div class="container">
          {{ if .Params.heroTitle}} 
            <h1>{{ .Params.heroTitle}} </h1>
          {{ else }}  
            <h1>Documentation App example</h1>
          {{ end }}
          {{ if .Params.heroSubtitle}} 
            <p class="lead">{{ .Params.heroSubtitle}} </p>
          {{ else }}  
            <p class="lead">Something short and leading about the documentation. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          {{ end }}
        </div>
      </section>
    </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partialCached "scripts.html" . }}
  </body>
</html>